<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	   	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
kjj

	<!-- Hibernate Datasource Definition -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="org.h2.Driver" />
		<property name="url" value="jdbc:h2:h2.database/hamato_exman" />
		<property name="username" value="room_management" />
		<property name="password" value="" />
	</bean>

	<!-- Hibernate session factory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="de.hatoma.exman.model.*" />
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.H2Dialect
				hibernate.show_sql=false
				hibernate.format_sql=false
				hibernate.hbm2ddl.auto=update
			</value>
		</property>
	</bean>

	<aop:config>
		<aop:pointcut id="serviceMethods"
			expression="execution(* de.hatoma.exman.service..*.*(..))" />
		<aop:pointcut id="daoMethods"
			expression="execution(* de.hatoma.exman.dao..*.*(..))" />
	</aop:config>
	
	<!-- Transaction configuration -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods" />
	</aop:config>




	<!-- Services -->
	<bean name="userService" class="de.hatoma.service.user.UserService">
		<property name="userDAO" ref="userDAO"/>
	</bean>

	<!-- DAOs -->
	<bean name="userDAO" class="de.hatoma.dao.user.UserDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


</beans>